<app-header></app-header>

<!-- Reserving space for progress bar -->
<div style="height: 1px;">
    <mat-progress-bar *ngIf='(loading$|async) === true' color='accent' mode="query"></mat-progress-bar>
</div>

<nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link *ngFor="let item of tabItems" [routerLink]="item.path" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <ng-container>
            {{item.label}}
        </ng-container>
    </a>
</nav>

<main>
    <router-outlet></router-outlet>
</main>