<mat-toolbar color='primary' fxLayout='row' fxLayoutAlign="space-between center">

    <div fxLayout='row' fxLayoutAlign="center center">
        <mat-icon class="icon">coronavirus</mat-icon>
        {{title}}
    </div>

    <!-- Icons to the right -->
    <div>
        <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item type="button" (click)='showInfo()'>Info</button>
        </mat-menu>
    </div>

</mat-toolbar>

<!-- Reserving space for progress bar -->
<div class="progress-space">
    <mat-progress-bar class="progress-space" *ngIf='(loading$|async) === true' color='accent' mode="query">
    </mat-progress-bar>
</div>