<div fxLayout="column" fxLayoutGap="0 0 grid" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutGap="30px 0px grid" fxLayoutAlign="center center">

        <mat-form-field appearance="outline">
            <mat-label>Gebiet</mat-label>
            <mat-select [(ngModel)]='regionSelected' (selectionChange)="updateStatistics()">
                <mat-option [value]="regionEnum.Country">Deutschland</mat-option>
                <mat-option [value]="regionEnum.State">Bundesland</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf='regionSelected===regionEnum.State' appearance="outline">
            <mat-label>Bundesland</mat-label>
            <mat-select [(value)]='stateSelected' [compareWith]="compareState" (selectionChange)="updateStatistics()">
                <mat-option [value]=undefined></mat-option>
                <mat-option *ngFor="let state of states" [value]="state">{{state.name}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <div>Letzte Wochen: <b>{{weeksSelected}}</b></div>
        <input matInput type="range" invert tickInterval="1" min="1" max="4" step="1" [(ngModel)]='weeksSelected'
            (input)="updateStatistics()">
    </div>

    <br>
    <app-statistics [statistics]='statistics'></app-statistics>
</div>