<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">

    <mat-form-field appearance="outline" class="state-selection">
        <mat-label>State</mat-label>
        <mat-select [(value)]='stateSelected' [compareWith]="compareState"
            (selectionChange)="setSelectedState($event.value)" aria-label="State selection">
            <mat-option [value]=undefined aria-label="No state selected"></mat-option>
            <mat-option *ngFor="let state of states" [value]="state" aria-label="Selected state">{{state.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <ng-container *ngIf='stateSelected !== undefined'>
        <app-statistics></app-statistics>
        <app-time-selection></app-time-selection>
    </ng-container>

</div>