<div *ngIf="statistics$ | async as statistics" class="statistics">

    <!-- <mat-card> -->
    <table class="full">
        <tr>
            <td class="bigger"> Cases:</td>
            <td class="right bigger" [hidden]='(loading$ |async) === true'> {{statistics?.cases}}</td>
        </tr>
        <tr>
            <td> Deaths:</td>
            <td class="right" [hidden]='(loading$ |async) === true'> {{statistics?.deaths}}</td>
        </tr>
        <tr>
            <td> Recovered:</td>
            <td class="right" [hidden]='(loading$ |async) === true'> {{statistics?.recovered}}</td>
        </tr>
    </table>
    <!-- </mat-card> -->

</div>