<div *ngIf="statistics$ | async as statistics" class="statistics">

    <!-- <mat-card> -->
    <table class="full">
        <tr>
            <td> Cases:</td>
            <td class="right"> {{statistics?.cases}}</td>
        </tr>
        <tr>
            <td> Deaths:</td>
            <td class="right"> {{statistics?.deaths}}</td>
        </tr>
        <tr>
            <td> Recovered:</td>
            <td class="right"> {{statistics?.recovered}}</td>
        </tr>
    </table>
    <!-- </mat-card> -->

</div>